{% extends "editor-base.html" %}

{% block title %}

<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">Title</label>
  <input name="title" type="text" class="form-control" id="formGroupExampleInput">
</div>

{% endblock title %}

{% block score_needed %}

<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">Score needed to edit</label>
  <input name="score_needed" type="text" class="form-control" id="formGroupExampleInput">
</div>

{% endblock score_needed %}
